node_modules/
.idea/
dist/
bin/
packed/
/*.njspro
/*.sln
/*.suo
*.orig
*.zip
*.log
bower_components/
*.cmd
src/modules/system-guide/
src/modules/app-test/
src/modules/.gitignore
test_reports/
.vscode/
test/UnitTest/
test/test_reports/
src/ts_build/
coverage/
**/node_modules/



